* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
  background-position: center;
  background-size: cover; 
  position: relative;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.navbar {
  width: 90%;
  padding: 1em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
}

li a:hover {
  background: white;
  transition: 0.6s;
  color: black;
}

.navbar a:hover {
  color: black;
}

.content {
  width: 100%;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.content h1 {
  margin-top: 280px;
  font-size: 6vw; 
  font-weight: 800;
  text-shadow: 1px 2px 3px green;
}
.content ul {
  text-align: justify;
  font-size: 20px;
  list-style-type: none;
  margin: auto; 
  display: table; 
}

button {
  max-width: 300px;
  width: 400px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: 2px;
  font-size: 1.5em; 
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: rgb(0, 192, 226);
  transition: 0.5s;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    margin-top: 10px;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .content h1 {
    font-size: 8vw;
    margin-top: 150px;
  }

  button {
    width: 100%;
  }

  .logo{
    position: relative;
    height: 250px;
    width: 250px;
    top: 70px;
  }
}

